{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "no-debugger": "off",
    "semi": "error",
    "no-console": "off",
    "strict": ["error", "global"],
    "no-case-declarations": "off",
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off"
  }
}